 html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lightgray;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  transition: all 1s ease;

}

header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-size: contain;
  background-repeat: no-repeat;
  width: 97%;
  max-width: 1090px;
  margin-top: 0px;
  transition: all 1s ease;
}

@media screen and (min-width: 600px) {
  header {
    margin-top: 30px;
    background-image: url(https://raw.githubusercontent.com/SarahEW1206/ezra-min/master/img/nav-bg.png);
  }
}

nav {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto auto auto;
  grid-gap: 5px;
  width: 100%;
  font-size: 11px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  padding-bottom: 7px;
}

.white {
  background-color: rgba(255, 255, 255, 1.0);
  background-image: none;
  padding: 10px 0;
  width: 97.5%;
  max-width: 1080px;
  margin-top: 0;
  transition: all 1s ease;

}

.nav-bg-mobile {
  grid-column: 2 / -2;
  grid-row: 2 / span 2;
  background-image: url(https://raw.githubusercontent.com/SarahEW1206/ezra-min/master/img/mobile-nav-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}


nav .logo-center {
  grid-column: 1 / span 10;
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 10px 0;
}

nav .home {
  grid-column: 3 / span 2;
  grid-row: 2 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 4px 0;
  
}

nav .mission {
  grid-column: 5 / span 2;
  grid-row: 2 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 4px 0;
  
}

nav .donate {
  grid-column: 7 / span 2;
  grid-row: 2 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0 4px 0;
}

nav .shelter {
  grid-column: 3 / span 2;
  grid-row: 3 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0 10px 0;
}

nav .store {
  grid-column: 5 / span 2;
  grid-row: 3 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0 10px 0;
}

nav .contact {
  grid-column: 7 / span 2;
  grid-row: 3 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 0 10px 0;
}

@media screen and (min-width: 600px) {

  nav {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto;
    width: 100%;
    margin: 0 auto;
    top: -10px;
    padding-bottom: 0px;
    background-color: rgba(255, 255, 255, 0.0);
  }

  .nav-bg-mobile {
    display: none;
  }

  nav .home {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  nav .mission {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  nav .donate {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  nav .logo-center {
    grid-column: 4 / span 3;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  nav .shelter {
    grid-column: 7 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  nav .store {
    grid-column: 8 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  nav .contact {
    grid-column: 9 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

}

@media screen and (min-width: 850px) {
  nav {
    font-size: 13px;
  }
}

.logo {
  width: 60%;
  max-width: 250px;
  transition: all 1s ease;
}

@media screen and (min-width: 600px) {
  .logo {
    width: 70%;
  }
}

.divot {
  position: relative;
  bottom: 0px;
  width: 100%;
}

.container {
  width: 97%;
  max-width: 1080px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 4px black;
  background-color: #ffffff;
}

.hero-img {
  margin: 0;
}

.header-img {
  width: 100%;
  position: relative;
  z-index: 0;
}

/*Store section of homepage*/
.home-store {
  height: 400px;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}
