 html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

header {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  max-width: 1100px;
  margin-top: 0px;
}

@media screen and (min-width: 600px) {
  header {
    margin-top: 30px;
    background-image: url(https://raw.githubusercontent.com/SarahEW1206/ezra-min/master/img/nav-bg.png);
  }
}

nav {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto auto auto;
  grid-gap: 5px;
  width: 100%;
  font-size: 12px;
  text-transform: capitalize;
  background-color: rgba(255, 255, 255, 0.7);
  padding-bottom: 7px;
}


.nav-bg-mobile {
  grid-column: 3 / -3;
  grid-row: 2 / span 2;
  background-color: rgba(125, 182, 86, .67);
  background-image: url(https://raw.githubusercontent.com/SarahEW1206/ezra-min/master/img/mobile-nav-bg.png)
}


nav .logo-center {
  grid-column: 1 / span 10;
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

nav .home {
  grid-column: 3 / span 2;
  grid-row: 2 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  
}

nav .mission {
  grid-column: 5 / span 2;
  grid-row: 2 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  
}

nav .donate {
  grid-column: 7 / span 2;
  grid-row: 2 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

nav .shelter {
  grid-column: 3 / span 2;
  grid-row: 3 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

nav .store {
  grid-column: 5 / span 2;
  grid-row: 3 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

nav .contact {
  grid-column: 7 / span 2;
  grid-row: 3 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

@media screen and (min-width: 600px) {

  nav {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: auto;
    width: 100%;
    margin: 0 auto;
    top: -10px;
    font-size: 13px;
    padding-bottom: 0px;
    background-color: rgba(255, 255, 255, 0.0);
  }

  .nav-bg-mobile {
  grid-column: 3 / -3;
  grid-row: 2 / span 2;
  background-color: rgba(125, 182, 86, 0.0);
}

  nav .home {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  nav .mission {
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  nav .donate {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  nav .logo-center {
    grid-column: 4 / span 3;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  nav .shelter {
    grid-column: 7 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  nav .store {
    grid-column: 8 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  nav .contact {
    grid-column: 9 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

}

.logo {
  width: 60%;
  max-width: 250px;
}

@media screen and (min-width: 600px) {
  .logo {
    width: 70%;
  }
}

.header-img {
  width: 100%;
  position: relative;
  z-index: 0;
}

.container {
  width: 97%;
  max-width: 1080px;
  display: block;
  margin: 0 auto;
  box-shadow: 0 0 4px black;
}
