 html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
/*  height: 100%;
*/  margin: 0;
padding: 0;
/*background-color: #f0f0f0;
*/font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
transition: all 0.2s ease;
}

a {
  text-decoration: none;
  color: #333;
  margin: 0;
  padding: 0;
}

.top-nav-bar {
  position: fixed;
  z-index: 10000;
  background-color: #7db656;
  width: 100%;
  text-align: right;
}

.scroll-down {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 18px;
  position: absolute;
  bottom: 10px;
  z-index: 100000;
}

.scroll-down p {
  font-size: 16px;
  font-weight: 100;
  padding: 0;
  margin: 0;
  letter-spacing: 2px;
}

.fas.fa-long-arrow-alt-down {
  padding: 0;
  margin: 0;
}

header {
  position: fixed;
  z-index: 1000;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0 0 0;
  background-color: rgba(255, 255, 255, 0.0);
  transition: all 0.2s ease;
  border-bottom: 1px solid #bababa;
}

.white {
  background-color: rgba(255, 255, 255, 1.0);
  background-image: none;
  padding: 20px 0 0 0;
  width: 100%;
  margin-top: 0px;
  transition: all 0.2s ease;

}

@media screen and (min-width: 800px) {
  header {
    margin-top: 30px;
    padding: 20px 0 15px 0;
/*    background-image: url(https://raw.githubusercontent.com/SarahEW1206/ezra-min/master/img/nav-bg.png);
*/    background-position: 50% 50%;
}

.white {
  padding: 30px 0 15px 0;
  margin-top: 0px;

}

}

nav {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: auto auto auto;
  grid-gap: 5px;
  width: 100%;
  max-width: 1090px;
  font-size: 11px;
  font-weight: 700;
  color: #333;
  text-transform: uppercase;
  padding-bottom: 7px;
}

nav a {
  color: #333;
  font-size: 13px;
  text-shadow: 1px 1px 4px #fff;
}

#logo-link {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}

#mission-link, #store-link {
  position: absolute;
  margin-top: -250px;
}

@media(min-width: 800px) {

  #mission-link {
    margin-top: -250px;
  }

  #store-link {
    margin-top: -120px;
  }

}



/*.nav-bg-mobile {
  grid-column: 2 / -2;
  grid-row: 2 / span 2;
  background-image: url(https://raw.githubusercontent.com/SarahEW1206/ezra-min/master/img/mobile-nav-bg.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  }*/


  nav .logo-center {
    grid-column: 1 / span 10;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 10px 0;
  }

/*  nav .home {
    grid-column: 3 / span 2;
    grid-row: 2 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 4px 0;
  }

  nav .mission {
    grid-column: 5 / span 2;
    grid-row: 2 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 4px 0;
    }*/



    nav .store {
      grid-column: 2 / span 2;
      grid-row: 2 / span 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px 0 10px 0;
    }

    nav .shelter {
      grid-column: 4 / span 2;
      grid-row: 2 / span 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px 0 10px 0;
    }

    nav .donate {
      grid-column: 6 / span 2;
      grid-row: 2 / span 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px 0 10px 0;
    }


    nav .contact {
      grid-column: 8 / span 2;
      grid-row: 2 / span 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 4px 0 10px 0;
    }

    @media screen and (min-width: 800px) {

      nav {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: auto;
        width: 100%;
        margin: 0 auto;
        top: -10px;
        padding-bottom: 0px;
        background-color: rgba(255, 255, 255, 0.0);
      }

      .nav-bg-mobile {
        display: none;
      }

/*  nav .home {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    }*/

    nav .store {
      grid-column: 2 / span 1;
      grid-row: 1 / span 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px;
    }

    nav .shelter {
      grid-column: 3 / span 1;
      grid-row: 1 / span 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px;
    }

    nav .logo-center {
      grid-column: 4 / span 3;
      grid-row: 1 / span 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px;
    }

    nav .donate {
      grid-column: 7 / span 1;
      grid-row: 1 / span 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px;
    }

    nav .contact {
      grid-column: 8 / span 1;
      grid-row: 1 / span 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0px;
    }

  }

  @media screen and (min-width: 850px) {
    nav a{
      font-size: 16px;
    }
  }

  .logo {
    width: 80%;
    max-width: 250px;
/*    padding-top: 20px;
*/    transition: all 1s ease;
}

@media screen and (min-width: 800px) {
  .logo {
    width: 80%;
  }
}

.divot {
  position: relative;
  bottom: 0px;
  width: 100%;
}

.container {
  width: 100%;
/*  max-width: 1080px;
*/  display: block;
margin: 0 auto;
/*  box-shadow: 0 0 4px black;
*/  background-color: #ffffff;
}

.hero-img {
  margin: 0;
  position: relative;
  z-index: 555;
}

.header-img {
  width: 100%;
  position: relative;
  z-index: 0;
}



/*mission homepage*/

.home-mission {
  padding: 150px 30px;
  background-color: #7db656;
  margin-top: -10px;
}

.home-mission h1 {
  font-family: 'IM Fell English', serif;
  color: #fff;
  font-size: 32px;
  letter-spacing: 2px;
  max-width: 800px;
  display: block;
  margin: 20px auto 30px auto;
}

.home-mission p {
  font-size: 22px;
  line-height: 28px;
  max-width: 800px;
  display: block;
  margin: 0 auto;
}

.mission-button {
  padding: 10px 20px;
  display: block;
  margin: 30px auto;
  background-color: #fff;
  border-radius: 4px;
  font-family: 'IM Fell English', serif;
  font-size: 20px;
}

/*Store section of homepage*/
.home-store {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 20px auto auto auto auto auto auto auto auto auto auto auto ;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.store-image {
  grid-column: 4 / span 4;
  grid-row: 4 / span 6;
  border-radius: 100%;
  width: 100%;
}

.store-logo {
  grid-column: 3 / span 3;
  grid-row: 5 / span 1;
  width: 100%;
  max-width: 180px;
}

.store-tag {
  grid-column: 3 / span 6;
  grid-row: 2 / span 1;
  width: 100%;
  text-align: center;
  color: #7db656 ;
  font-size: 32px;
  letter-spacing: 2px;
  font-family: 'IM Fell English', serif;
}

.store-text {
  grid-column: 2 / -2;
  grid-row: 11 / span 1;
  width: 100%;
  font-weight: 100;
  text-align: center;
  color:#333;
  font-size: 18px;
}

.store-button {
  grid-column: 3 / span 6;
  grid-row: 12 / span 1;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 50px;
  background-color: rgba(95, 165, 202, 1.0);
  border-radius: 4px;
  font-family: 'IM Fell English', serif;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .home-store {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 80px auto auto auto auto auto auto auto auto auto auto 80px ;
    background-color: #ffffff;
    margin: 0;
    padding: 0;
  }

  .store-image {
   grid-column: 2 / span 4;
   grid-row: 3 / span 8;
 }

 .store-logo {
  grid-column: 3 / span 2;
  grid-row: 5 / span 1;
  width: 100%;
}

.store-tag {
  grid-column: 7 / span 3;
  grid-row: 4 / span 2;
  padding-left: 15px;
  text-align: left;
}

.store-text {
  grid-column: 7 / -2;
  grid-row: 6 / span 3;
  padding-left: 15px;
  font-size: 20px;
  text-align: left
}

.store-button {
  grid-column: 7 / span 2;
  grid-row: 9 / span 1;
  margin-left: 15px;
  font-size: 20px;

}
}

/*first quote section*/

.quote-section-1 {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 20px 80px auto auto auto 50px  ;
  background-color: rgba(95, 165, 202, 1.0);
  margin: 0;
  padding: 0;
}

.big-quote {
  grid-column: 1 / -1;
  grid-row: 2 / span 1;
  font-family: 'IM Fell English', serif;
  color: #333;
  font-size: 100px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.bold-white-text {
  grid-column: 4 / -2;
  grid-row: 3 / span 1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  color: #ffffff;
  font-size: 28px;
  line-height: 28px;
  font-weight: 700;
  text-align: right;
  margin: 0;
}

.handwriting-text {
  grid-column: 2 / -2;
  grid-row: 4 / span 1;
  font-family: 'La Belle Aurore', Times, serif;
  color: #333;
  font-size: 28px;
  line-height: 28px;
  text-align: right;
  margin: 0;
}

.quote-source {
  grid-column: 2 / -2;
  grid-row: 5 / span 1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  color: #ffffff;
  font-size: 20px;
  text-align: right;
  margin: 0;
}

@media screen and (min-width: 500px) {
  .bold-white-text {
    grid-column: 1 / -2;
  }
}


@media screen and (min-width: 768px) {
  .quote-section-1 {
    grid-template-rows: 30vh 80px auto auto auto 30vh  ;
    background-color: rgba(95, 165, 202, 1.0);
    margin: 0;
    padding: 0;
  }

  .bold-white-text {
    grid-column: 2 / -3;
    grid-row: 3 / span 1;
    font-size: 50px;
    line-height: 55px;
  }

  .handwriting-text {
    grid-column: 4 / -3;
    grid-row: 4 / span 1;
    font-size: 50px;
    line-height: 55px;
  }

  .quote-source {
    grid-column: 3 / span 6;
    grid-row: 5 / span 1;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
    color: #ffffff;
    font-size: 20px;
    text-align: right;
    margin: 0;
  }
}

/*Shelter section of homepage*/
.home-shelter {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 40px auto 10px auto auto auto auto auto auto auto auto auto ;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.shelter-image {
  grid-column: 4 / span 4;
  grid-row: 4 / span 6;
  border-radius: 100%;
  width: 100%;
}


.shelter-tag {
  grid-column: 3 / span 6;
  grid-row: 2 / span 1;
  width: 100%;
  text-align: center;
  color: #7db656 ;
  font-size: 32px;
  letter-spacing: 2px;
  font-family: 'IM Fell English', serif;
}

.shelter-text {
  grid-column: 2 / -2;
  grid-row: 11 / span 1;
  width: 100%;
  font-weight: 100;
  text-align: center;
  color:#333;
  font-size: 18px;
}

.shelter-button {
  grid-column: 3 / span 6;
  grid-row: 12 / span 1;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 50px;
  background-color: #ed6c79;
  border-radius: 4px;
  font-family: 'IM Fell English', serif;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .home-shelter {
    grid-template-rows: 80px auto auto auto auto auto auto auto auto auto auto 80px ;
  }

  .shelter-image {
    grid-column: 2 / span 4;
    grid-row: 3 / span 8;
  }

  .shelter-tag {
    grid-column: 7 / span 3;
    grid-row: 4 / span 2;
    padding-left: 15px;
    text-align: left;
  }

  .shelter-text {
    grid-column: 7 / -2;
    grid-row: 6 / span 3;
    padding-left: 15px;
    font-size: 20px;
    text-align: left
  }

  .shelter-button {
    grid-column: 7 / span 2;
    grid-row: 9 / span 1;
    margin-left: 15px;
    font-size: 20px;

  }
}

/*Statistics section of homepage*/
.home-statistics {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 40px auto auto 20px auto 20px auto auto auto auto auto 50px ;
  background-color: #ed6c79;
  margin: 0;
  padding: 0;
}

.statistics-heading {
  grid-column : 1 / span 10;
  grid-row: 2 / span 1;
  text-align: center;
  margin: 50px 0 50px 0;
  padding: 0;
  font-size: 50px;
  color: #fff;
}

.food-stamps {
  grid-column : 2 / span 4;
  grid-row: 3 / span 1;
  width: 100%;

}

.single-home {
  grid-column : 2 / span 4;
  grid-row: 5 / span 1;
  width: 100%;

}

.health-ins{
  grid-column : 2 / span 4;
  grid-row: 7 / span 1;
  width: 100%;

}

.food-stamp-text {
  grid-column : 7 / span 3;
  grid-row: 3 / span 1;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;

}

.single-home-text {
  grid-column : 7 / span 3;
  grid-row: 5 / span 1;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;

}

.health-ins-text {
  grid-column : 7 / span 3;
  grid-row: 7 / span 1;
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 18px;

}

@media (min-width: 800px) {
  .home-statistics {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 120px auto 30px auto 30px auto auto 120px ;
    background-color: #ed6c79;
    margin: 0;
    padding: 0;
  }

  .statistics-heading {
    grid-column : 1 / span 10;
    grid-row: 2 / span 1;
    text-align: center;
    margin: 0 0 30px 0;
    padding: 0;

  }

  .food-stamps {
    grid-column : 2 / span 2;
    grid-row: 4 / span 2;
    width: 100%;

  }

  .single-home {
    grid-column : 5 / span 2;
    grid-row: 4 / span 2;
    width: 100%;

  }

  .health-ins{
    grid-column : 8 / span 2;
    grid-row: 4 / span 2;
    width: 100%;

  }

  .food-stamp-text {
    grid-column : 2 / span 2;
    grid-row: 6 / span 2;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 22px;

  }

  .single-home-text {
    grid-column : 5 / span 2;
    grid-row: 6 / span 2;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 22px;

  }

  .health-ins-text {
    grid-column : 8 / span 2;
    grid-row: 6 / span 2;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 22px;

  }
}

/*Donate section of homepage*/
.home-donate {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 40px auto 10px auto auto auto auto auto auto auto auto auto ;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
}

.donate-image {
  grid-column: 4 / span 4;
  grid-row: 4 / span 6;
  border-radius: 100%;
  width: 100%;
}


.donate-tag {
  grid-column: 3 / span 6;
  grid-row: 2 / span 1;
  width: 100%;
  text-align: center;
  color: #7db656 ;
  font-size: 32px;
  letter-spacing: 2px;
  font-family: 'IM Fell English', serif;
}

.donate-text {
  grid-column: 2 / -2;
  grid-row: 11 / span 1;
  width: 100%;
  font-weight: 100;
  text-align: center;
  color:#333;
  font-size: 18px;
}

.donate-button {
  grid-column: 3 / span 6;
  grid-row: 12 / span 1;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 50px;
  background-color: #ff0;
  border-radius: 4px;
  font-family: 'IM Fell English', serif;
  font-size: 20px;
}

@media screen and (min-width: 768px) {
  .home-donate {
    grid-template-rows: 80px auto auto auto auto auto auto auto auto auto auto 80px ;
  }

  .donate-image {
    grid-column: 2 / span 4;
    grid-row: 3 / span 8;
  }

  .donate-tag {
    grid-column: 7 / span 3;
    grid-row: 4 / span 2;
    padding-left: 15px;
    text-align: left;
  }

  .donate-text {
    grid-column: 7 / -2;
    grid-row: 6 / span 3;
    padding-left: 15px;
    font-size: 20px;
    text-align: left
  }

  .donate-button {
    grid-column: 7 / span 2;
    grid-row: 9 / span 1;
    margin-left: 15px;
    font-size: 20px;

  }
}

/*first quote section*/

.quote-section-2 {
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 20px 80px auto auto auto 50px  ;
  background-color: #7db656;
  margin: 0;
  padding: 0;
}

.quote-section-2 .big-quote {
  grid-column: 1 / -1;
  grid-row: 2 / span 1;
  font-family: 'IM Fell English', serif;
  color: #333;
  font-size: 100px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.quote-section-2 .bold-white-text {
  grid-column: 4 / -2;
  grid-row: 4 / span 1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  color: #ffffff;
  font-size: 28px;
  line-height: 28px;
  font-weight: 700;
  text-align: right;
  margin: 0;
}

.quote-section-2 .handwriting-text {
  grid-column: 2 / -2;
  grid-row: 3 / span 1;
  font-family: 'La Belle Aurore', Times, serif;
  color: #333;
  font-size: 28px;
  line-height: 28px;
  text-align: right;
  margin: 0;
}

.quote-section-2 .quote-source {
  grid-column: 2 / -2;
  grid-row: 5 / span 1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  color: #333;
  font-size: 20px;
  text-align: right;
  margin: 0;
  padding-top: 20px;
}

@media screen and (min-width: 500px) {
  .quote-section-2 .bold-white-text {
    grid-column: 1 / -2;
  }
}


@media screen and (min-width: 768px) {
  .quote-section-2 {
    grid-template-rows: 30vh 80px auto auto auto 30vh  ;
    background-color: #7db656;
    margin: 0;
    padding: 0;
  }

  .quote-section-2 .bold-white-text {
    grid-column: 2 / -3;
    grid-row: 4 / span 1;
    font-size: 50px;
    line-height: 55px;
  }

  .quote-section-2 .handwriting-text {
    grid-column: 4 / -3;
    grid-row: 3 / span 1;
    font-size: 50px;
    line-height: 55px;
  }

  .quote-section-2 .quote-source {
    grid-column: 3 / span 6;
    grid-row: 5 / span 1;

  }
}

/*footer */

footer {
  background-color: #333;
  height: 200px;
}

/*subpage general*/

header.subpage-header{
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 20px 0 0 0;
  background-color: rgba(255, 255, 255, 1.0);
  transition: all 0.2s ease;
  border-bottom: 1px solid #bababa;
}

.subpage .container {
  background-color: rgba(0,0,0,0.0);
  padding: 60px 0;
  margin: 0 auto;
  width: 90%;
  max-width: 1200px;
}
.subpage-heading {
  color: #fff;
  margin-top: 40px;
  font-size: 32px;
  letter-spacing: 2px;
  font-family: 'IM Fell English', serif;
}

.subpage-text, ul, li {
  font-weight: 300;
  text-align: left;
  color: rgba(0,0,0,0.7);
  font-size: 22px;
  line-height: 28px;
}

.subpage p a{
  color: #fff;
}

@media screen and (min-width: 768px) {

  header.subpage-header {
    padding: 30px 0 15px 0;
  }

  .subpage-heading {
    margin-top: 0;
  }

}

/*store*/

.store-page {
  background-color: rgba(95, 165, 202, 1.0);
}

.store-page main {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.store-page section {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.store-page-image {
  width: 100%;
  margin: 5px 0;
}

.store-page-main-content {
  width: 100%;
}

.store-page-main-content a{
  color: #fff;
}

iframe {
  display: block;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {

  .store-page main {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .store-page section {
    margin-top: 50px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .store-page-image {
    width: 33%;
    margin: 0;
  }

  .store-page-main-content {
    margin-right: 30px;
  }

}

/* shelter */


.shelter-page {
  background-color: #ed6c79;
}

.shelter-page main {
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shelter-page-main-content {
  width: 100%;
}

.shelter-page-image {
  width: 100%;
}

.stats-heading {
  text-align: center;
}

.stats {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
  justify-content: center;
  align-items: center;
}

.stat {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
  width: 45%;
  height: 150px;
  margin: 5px;
  background-color: #fff;
}

@media screen and (min-width: 667px) {

  .stats {
    justify-content: space-between;

  }
  .stat {
    width: 23%;
  }
}

@media screen and (min-width: 768px) {

  .shelter-page main {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .shelter-page-image {
    width: 45%;
    margin: 0;
  }

  .shelter-page-main-content {
    width: 50%;
  }

  .stats {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }



}



